@model IEnumerable<Readit.Models.CommentVM>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeSinceCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeSinceCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
    </tr>
}
    
</table>


@Html.Partial("CreateComment", (int)ViewBag.PostId)