@using System.Text.RegularExpressions
@using System.Web.UI.WebControls
@model Readit.Models.PostDetailVM

@{
    ViewBag.Title = Model.Title;
}


<div class="row">

    <h2 class="col-md-offset-1 col-me-10">@Model.Title</h2>
    <div class="create col-md-offset-1">Created: @ViewBag.TimeSinceCreation hours ago by @Model.Author</div>

    <div class="detailcontent col-md-offset-1">
        @if (Model.Body != null)
        {
            @Html.DisplayFor(model => model.Body)
        }
        @{
            if (Model.IsImage)
            {
                <img class="col-md-offset-1 col-md-8 img-responsive img-thumbnail" src=@Model.ExternalLink/>
                <br/>
            }
            <div class="col-md-8 col-md-offset-2">
                <a href="@Model.ExternalLink">@Model.ExternalLink</a>
            </div>
        }
    </div>
</div>
@if (Model.NumOfComments > 0)
{
    ViewBag.PostId = Model.PostId;
    Html.RenderAction("CommentList", new {postId = Model.PostId});
}
else
{
    ViewBag.PostId = Model.PostId;
    @Html.Partial("CreateComment", (int)ViewBag.PostId)
}

<p>
    @Html.ActionLink("Back Home", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>
