@model IEnumerable<Readit.Models.Post>

@{
    ViewBag.Title = "Readit";
}

<h2>Welcome to Readit!</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class = "btn btn-primary btn-lg"})
</p>
<br/>
@foreach (var x in Model)
{
    <div class="readitPost row">
        @if (x.ExternalLink != null)
        {
            <img class="img-responsive img-thumbnail col-md-1 col-md-offset-1" src=@x.ExternalLink/>
        }
        <div class="title col-md-9 col-md-push-2">@x.Title</div>
        <div class="create col-md-9 col-md-push-2">Created: @(Math.Round((DateTime.Now.Subtract(x.CreateDate).TotalHours))) hours ago by @x.Author</div>
        <div class="col-md-1">@Html.ActionLink("Details", "Details", new { id = x.Id }, new { @class = "btn btn-primary" }) </div>
    </div>
}

